
/*GENERAL*/

body
{
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


/*LOGO*/

header
{
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.restaurants a
{
    text-decoration: none;
    color: black;
}

#logo
{
    font-family: "Shrikhand", sans-serif;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
}

#arrow
{
  width: 10%;
}



/*IMAGE RESTAURANT*/
.img-restau
{
    width: 100%;
    height: 200px;
    display: flex;
    position: absolute;
    object-fit: cover;
}


/*CORPS*/

/*fond gris général*/
#grey-font
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #F6F6F6;
    width: 100%;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 165px;
}



/*TITRE + COEUR RESTAU*/

.bouton-coeur
{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 20px;
    right: 0;
    margin: 10px;
}

.coeur-plein
{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 20px;
    right: 0;
    margin: 10px;
    display: none;
}

.favoris:hover .bouton-coeur .far
{
    display: none;        
}

.favoris:hover .bouton-coeur ~ .coeur-plein
{
        display: block;
        background: linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation: fill 1s ease-in-out ;
        animation: fill 1s ease-in-out;
}

@-webkit-keyframes fill {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fill {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

#title-restaurant
{
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2em;
    padding-left: 15px;
}


/*MENUS*/

/*effets d'apparition*/
.first-step
{
  animation: fadein-bottom 1.5s ease-in-out ;
}

.second-step
{
  animation: fadein-bottom 2.5s ease-in-out;
}

.third-step
{
  animation: fadein-bottom 3.5s ease-in-out;
}

.fourth-step
{
  animation: fadein-bottom 4.5s ease-in-out;
}

@keyframes fadein-bottom {
  0% {
      transform: translateY(2rem);
      opacity: 0;
  }

  100% {
      transform: translateY(0);
      opacity: 1;
  }
}


/*effet de rotation du check au survol*/

@-webkit-keyframes fadein-bottom {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein-bottom {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.selector:hover {
  transform: translateX(0%);
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menus-forms li:hover .selector .fa-check-circle {
  -webkit-animation: check 0.5s ease forwards;
  animation: check 0.5s ease forwards;
}

@-webkit-keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*"masquer" les infos en trop*/
.little-info
{
  font-size: 0.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.principal
{
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price
{
    font-weight: bold;
    font-size: 0.95em;
    right: 10px;
    padding-left: 10px;
    transition: 0.5s ease
}

.menus-forms p
{
  font-size: 0.9em;
}

.menus-forms li:hover .selector
{
    transform: translateX(0%);
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus-forms li:hover .price
{
    transition: 0.5s ease;
    padding-right: 40px;
}

.menus-forms li:hover .principal
{
    width: 80%;
}

.selector
{
    position: absolute;
    background: #99E2D0;
    right: 0px;
    width: 50px;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease;
}

.wrapper
{
  display: flex;
  justify-content: space-between;
}
.wrapper-global
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title
{
  width: 40px;
  height: 3px;
  background: #99E2D0;
  display: flex;
  flex-direction: column-reverse;
  margin: 15px;
}

#menus ul
 {
    list-style-type: none;
    padding: 10px;
    margin: 0;
 }

#menus ul li
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-decoration: none;
    position: relative;
    list-style-type: none;
    border-radius: 15px;
    padding: 20px 20px 20px 15px;
    background: white;
    box-shadow: 0px 2px 5px #b6b4b4;
    margin-bottom: 20px;
    width: 85%;
    height: 20px;
    overflow: hidden;
}

#menus ul li p
{
    margin: 0;
}


/* BOUTON COMMANDER*/
#button-order
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#order
{
    border-radius: 60px;
    padding: 15px;
    text-decoration: none;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0px 2px 5px #868686;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#order:hover
{
    opacity: 0.4;
    box-shadow: 2px 4px 4px #0c0c0c;
    transition: all .5s;
}


/*FOOTER*/
footer h3
{
    padding: 9px;
    margin: 0;
    background-color: #535353;
    font-family: "Shrikhand", sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: white;
}

footer ul
{
    list-style-type: none;
}

.bouton-footer
{
    margin-right: 5px;
}

footer i
{
    width: 20px;
}

#nav-foot
{
    display: flex;
    flex-direction: column;
    padding: 9px;
    margin: 0;
    background-color: #535353;
    line-height: 1.7;
}

#nav-foot li a
{
    text-decoration: none;
    color: white;
    
}

@media all and (min-width: 1024px)
{

  body
  {
    height: 100vh;
    background-color: #F6F6F6;
  }

  header
  {
      height: 70px;
  }

  footer
  {
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  footer h3
  {
      text-align: center;
      font-size: 2em;
  }

  .menus-forms
  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
  }

  #logo
    {
        font-size: 3.5em;
    }

  #arrow
  {
    font-size: xx-large;
  }

  #menus
  {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  #starters
  {
    width: 30%;
  }

  #course
  {
    width: 30%;
  }

  #deserts
  {
    width: 30%;
  }

  #nav-foot
  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
  }
}